// HOME PAGE
.homepage
    text-align center

.half-logo
    width 20%
    display inline-block

.homepage-title
    font-size 2.5em
    margin-top .5em

// EXAMPLEs PAGE
.example-page
    position: absolute;
    top: 0;
    left: 20rem;
    right: 0;
    font-size 2em
    text-align center
    
.example-title-wrap
    margin-top -1em

.example-title
    font-size: 2.5em

.example-content
    color white

.spacer
    margin-top: 1em

@media (max-width: 959px)
    .example-page
        left 16.4rem